<!--<div class="content-wrapper" style="width: 100%; height: 50px; border: solid 1px red">-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
            <!--<button class="btn btn-success" (click)="onNewMenuItem()">New Item</button>-->
        <!--</div>-->
    <!--</div>-->
    <!--<hr>-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12">-->
            <!--<app-menu-item-->
                    <!--*ngFor="let menuItem of menuItemList; let i = index"-->
                    <!--[menuItem]="menuItem"-->
                    <!--[index]="i"></app-menu-item>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->