<div class="content-wrapper">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-success" (click)="onNewMenuItem()">New Item</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">
            <!--<app-menu-item-->
                    <!--*ngFor="let menuItemarticleItemListList; let i = index"-->
                    <!--[menuItem]="menuItem"-->
                    <!--[index]="i"></app-menu-item>-->
        </div>
    </div>
</div>