<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline" role="grid">
                        <table class="table table-bordered table-hover dataTable">
                            <thead>
                                <tr role="row">
                                    <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Parent section</th>
                                    <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Child section</th>
                                    <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Alias</th>
                                    <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Color|Icon</th>
                                    <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Short description</th>
                                    <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Meta description</th>
                                    <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Meta keywords</th>
                                    <th role="columnheader" tabindex="0" rowspan="1" colspan="1">Actions</th>
                                </tr>
                            </thead>
                            <tbody role="alert">
                                <tr class="odd" *ngFor="let menuItem of menuItemList;">
                                    <td>{{ menuItem.parent.title }}</td>
                                    <td></td>
                                    <td>{{ menuItem.parent.slug }}</td>
                                    <td>
                                        <div class="{{ menuItem.parent.colorClass }}">
                                            <i class="{{ menuItem.parent.iconClass }}"></i>
                                        </div>
                                    </td>
                                    <td>{{ menuItem.parent.description }}</td>
                                    <td *ngIf="menuItem.parent.metaDescription; then validValue else emptyValue"></td>
                                    <td *ngIf="menuItem.parent.metaKeywords; then validValue else emptyValue"></td>
                                    <ng-template #validValue>
                                        <td>
                                            <span class="label label-success">
                                                <i class="glyphicon glyphicon-thumbs-up"></i>
                                            </span>
                                        </td>
                                    </ng-template>
                                    <ng-template #emptyValue>
                                        <td>
                                            <span class="label label-warning">
                                                <i class="glyphicon glyphicon-thumbs-down"></i>
                                            </span>
                                        </td>
                                    </ng-template>
                                    <td>some actions</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>