<!--<div>-->
  <!--<div class="input-group col-md-3 search-panel">-->
    <!--<input class="form-control" placeholder="Search by title ..." type="text" (keyup)='searchArticle($event)'>-->
  <!--</div>-->
  <!--<ngx-datatable-->
          <!--#articleListTable-->
          <!--class="material ngx-datatable fixed-header fixed-row"-->
          <!--[rows]="articleItemList"-->
          <!--[columnMode]="'force'"-->
          <!--[headerHeight]="40"-->
          <!--[footerHeight]="40"-->
          <!--[rowHeight]="'auto'"-->
          <!--[sortType]="'multi'"-->
          <!--[limit]="10"-->
  <!--&gt;-->
    <!--<ngx-datatable-column name="ID" [width]="10">-->
      <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
        <!--{{row.id}}-->
      <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--<ngx-datatable-column name="On|Off" [width]="15">-->
      <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
        <!--<span *ngIf="row.isActive()" class="label bg-green">on</span>-->
        <!--<span *ngIf="!row.isActive()" class="label bg-gray">off</span>-->
      <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--<ngx-datatable-column name="Title">-->
      <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
        <!--{{row.title}}-->
      <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--<ngx-datatable-column name="Assigned to:">-->
      <!--<ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
        <!--<ul>-->
          <!--<li *ngFor='let item of row.assignedMenuList'>-->
            <!--{{item.title}}-->
          <!--</li>-->
        <!--</ul>-->
      <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--<ngx-datatable-column name="Meta Keywords">-->
      <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
        <!--{{row.metaKeywords}}-->
      <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--<ngx-datatable-column name="Meta Description">-->
      <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
        <!--{{row.metaDescription | slice:0:70}}...-->
      <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
    <!--<ngx-datatable-column name="Actions">-->
      <!--<ng-template let-row="row" ngx-datatable-cell-template>-->
        <!--<div class="btn-group">-->
          <!--<button type="button" class="btn btn-warning" (click)="onEditClick(row)">-->
            <!--<i class="glyphicon glyphicon-pencil"></i>-->
          <!--</button>-->
          <!--<button type="button" class="btn btn-danger" (click)="onDeleteClick(row)">-->
            <!--<i class="glyphicon glyphicon-remove"></i>-->
          <!--</button>-->
          <!--<button type="button"-->
                  <!--[ngClass]="getButtonClassForStatusOn(row)"-->
                  <!--(click)="onStatusChangeClick(row)">-->
            <!--<i class="glyphicon glyphicon-eye-open"></i>-->
          <!--</button>-->
          <!--<button type="button"-->
                  <!--[ngClass]="getButtonClassForStatusOff(row)"-->
                  <!--(click)="onStatusChangeClick(row)">-->
            <!--<i class="glyphicon glyphicon-eye-close"></i>-->
          <!--</button>-->
        <!--</div>-->
      <!--</ng-template>-->
    <!--</ngx-datatable-column>-->
  <!--</ngx-datatable>-->
<!--</div>-->

<ngui-popup #popup></ngui-popup>
<div>
    <ag-grid-angular style="height: 525px;"
                     class="ag-theme-fresh"
                     [gridOptions]="gridOptions"
                     [columnDefs]="columnDefs"
                     [rowData]="rowData"
                     pagination
                     paginationAutoPageSize
                     enableColResize
                     enableSorting
                     enableFilter
                     suppressRowClickSelection
                     toolPanelSuppressValues
                     (rowClicked)="onRowClicked($event)"
                     (gridReady)="onReady($event)">
    </ag-grid-angular>
</div>